{% load static %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-3 col-sm-12">
				<p class="text-muted"> &copy 2021 Motiv8 Technologies </p>
			</div>
			<div class="col-md-7 col-sm-12 text-md-center text-center">
				<span  class="px-2 col-sm-12">hello@motiv8technologies.com</span>
				<span  class="px-2 col-sm-12">+234-7000668488</span>
				<span  class="px-2 col-sm-12">opp emir junction, Bosso</span>
			</div>
			<div class="col-md-2 col-xm-12 text-md-right text-center">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
